/* Header 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
<<<<<<< HEAD
    background-color:#A611CB;
    border-bottom: 1px solid #000;
    position: relative;
    
  }
  .header .main_header{
    margin-left: 350px;
=======
    background-color:#ffffff;
    border-bottom: 1px solid #000;
    position: relative;
>>>>>>> 3a232bc128c0a63e44d9b4781784ec7f7d9b5f61
    
  }
  
  .header h1 {
    font-size: 24px;
<<<<<<< HEAD
    color: #000;
    
=======
    color: #ee3aeb;
>>>>>>> 3a232bc128c0a63e44d9b4781784ec7f7d9b5f61
  }
  
  .header .user-id {
    font-size: 18px;
<<<<<<< HEAD
    
    
=======
    color: #ee3aeb;
>>>>>>> 3a232bc128c0a63e44d9b4781784ec7f7d9b5f61
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
<<<<<<< HEAD
    
    margin-right: 350px;
=======
    color: #ee3aeb;
>>>>>>> 3a232bc128c0a63e44d9b4781784ec7f7d9b5f61
  }
  /* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
<<<<<<< HEAD
  margin-right: 350px;
=======
>>>>>>> 3a232bc128c0a63e44d9b4781784ec7f7d9b5f61
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}